---
---

{% include head.html %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="js/iframeResizer.contentWindow.min.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700" /> -->
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="css/pinterest_col.css" type="text/css" media="screen" charset="utf-8" />
<!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" /> -->
<style type="text/css">
  body {
      background-color: #EFEFEF !important;
  }
  .ui-overlay-c, .ui-page, .ui-body-c, .ui-page-active, .ui-mobile-viewport {
    background: #EFEFEF !important;
  }
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: hidden; }
    div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
    div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
    .pp_content { width: 100%!important; height: auto!important; padding-top: 20px!important; }
    .pp_fade { width: 100%!important; height: 100%!important; }
    a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
    #pp_full_res img { width: 100%!important; height: auto!important; }
    .pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
    a.pp_close { right: 7%!important; top: 10px!important; }
    .pp_hoverContainer { display: none!important; }
  }
</style>

{% if page.hero %}

<div class="phototron-hero herotitle">
	<img src="/img/hero-stories/{{ page.hero }}.jpg" class="img-responsive" alt="" />
{% unless page.titlebelowhero %}
		<h1 class="animated fadeIn">{{ page.title }}</h1>
{% endunless %}
</div>

{% endif %}

<div class="container story-body">
	<div class="row">

		<div class="col-md-12">
			{% if page.hero-caption %}
				<div class="hero-credit">
					<p class="animated fadeIn">{{ page.hero-caption }}</p>
			</div>
			{% endif %}
{% if page.titlebelowhero %}

<h1 class="not-hero-title animated fadeIn">{{ page.title }}</h1>
{% endif %}

		<div class="story-author">
			{% if page.byline %}
	    <p class="animated fadeIn">By {{ page.byline }} | News21. Published Aug. 20, 2016.</p>
	    {% endif %}
		</div>

  <div id="columns">
    <figure>
      <img src="images/millennials/intro-cover.jpg">
      <figcaption>
        <p><strong>What issues do millennials care about?</strong></p><p>Ask 100 millennials what issue they care most about, and they likely won’t say the same thing.</p>
        <p>In fact, this generation’s passions run deep and wide. But as a whole, they do find common ground in many causes.</p>
        <p>When it comes to politics, recent national polls have indicated millennials often care most about the same issues other generations do: No. 1 being the economy (jobs, minimum wage, paid leave), according to a <a href="http://www.usatoday.com/story/news/politics/elections/2016/01/11/poll-millennials-agenda-president-rock-the-vote-republican-trump-sanders-democrat/78556154/">USA Today/Rock the Vote</a> poll.</p>
        <p>Money is so much on their mind that college affordability and student debt was the second most popular answer. Other top issues include foreign policy and terrorism, health care, guns and climate change, according to the poll.</p>
        <p>We wanted to get a better idea of their range in issues ourselves, so we asked more than 100 millennials across the country: What issue is most important to you?</p>
        <p>Want to share your passions? Download the <a href="http://blog.votingwars.news21.com/wp-content/uploads/2016/06/Millennials-1.pdf">template</a> and share it on our <a href="https://www.facebook.com/news21/">Facebook page</a>.</p>
      </figcaption>
    </figure>
    <figure>
      <a href="images/millennials/children-cover.jpg" rel="prettyPhoto[pp_gal1]" title="Millennial Children"><img src="images/millennials/children-cover.jpg" width="120" height="120" alt=""></a>
      <figcaption>Children</figcaption>
      <div style="display:none;">
        <a href="images/millennials/children/01.jpg" rel="prettyPhoto[pp_gal1]"><img src="images/millennials/children/01.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/children/02.jpg" rel="prettyPhoto[pp_gal1]"><img src="images/millennials/children/02.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/children/03.JPG" rel="prettyPhoto[pp_gal1]"><img src="images/millennials/children/03.JPG" width="120" height="120" alt="" /></a>
      </div>
    </figure>
    <figure>
      <a href="images/millennials/criminal-justice-cover.png" rel="prettyPhoto[pp_gal2]" title="Criminal Justice"><img src="images/millennials/criminal-justice-cover.png" width="120" height="120" alt=""></a>
      <figcaption>Criminal Justice</figcaption>
      <div style="display: none">
        <a href="images/millennials/criminal_justice/01.jpg" rel="prettyPhoto[pp_gal2]"><img src="images/millennials/criminal_justice/01.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/criminal_justice/02.jpg" rel="prettyPhoto[pp_gal2]" title=""><img src="images/millennials/criminal_justice/02.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/criminal_justice/03.JPG" rel="prettyPhoto[pp_gal2]" title=""><img src="images/millennials/criminal_justice/03.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/criminal_justice/04.jpg" rel="prettyPhoto[pp_gal2]" title=""><img src="images/millennials/criminal_justice/04.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/criminal_justice/05.jpg" rel="prettyPhoto[pp_gal2]" title=""><img src="images/millennials/criminal_justice/05.jpg" width="120" height="120" alt="" /></a>
      </div>
    </figure>
    <figure>
      <a href="images/millennials/economic-cover.gif" rel="prettyPhoto[pp_gal3]" title="Economics"><img src="images/millennials/economic-cover.gif" width="120" height="120" alt=""></a>
      <figcaption>Economic</figcaption>
      <div style="display:none;">
        <a href="images/millennials/economic/01.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/01.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/02.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/02.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/03.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/03.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/04.JPG" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/04.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/05.JPG" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/05.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/06.JPG" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/06.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/07.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/07.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/08.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/08.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/09.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/09.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/10.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/10.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/11.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/11.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/12.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/12.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/13.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/13.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/14.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/14.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/15.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/15.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/16.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/16.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/17.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/17.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/economic/18.jpg" rel="prettyPhoto[pp_gal3]"><img src="images/millennials/economic/18.jpg" width="120" height="120" alt="" /></a>
      </div>
    </figure>
    <figure>
      <a href="images/millennials/education-cover.png" rel="prettyPhoto[pp_gal4]" title="Millennial Education"><img src="images/millennials/education-cover.png" width="120" height="120" alt=""></a>
      <figcaption>Education</figcaption>
      <div style="display:none;">
        <a href="images/millennials/education/01.JPG" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/01.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/02.JPG" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/02.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/03.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/03.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/04.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/04.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/05.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/05.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/06.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/06.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/07.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/07.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/08.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/08.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/09.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/09.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/10.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/10.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/11.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/11.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/education/12.jpg" rel="prettyPhoto[pp_gal4]"><img src="images/millennials/education/12.jpg" width="120" height="120" alt="" /></a>
      </div>
    </figure>
    <figure>
      <a href="images/millennials/climate.gif" rel="prettyPhoto[pp_gal5]" title="Millennial Environment"><img src="images/millennials/climate.gif" width="120" height="120" alt="Climate Change"></a>
      <figcaption>Environment</figcaption>
      <div style="display:none;">
        <a href="images/millennials/environment/01.jpg" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/01.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/02.jpg" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/02.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/03.jpg" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/03.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/04.jpg" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/04.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/05.jpg" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/05.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/06.JPG" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/06.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/07.jpg" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/07.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/08.jpg" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/08.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/09.JPG" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/09.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/10.JPG" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/10.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/11.JPG" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/11.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/environment/12.jpg" rel="prettyPhoto[pp_gal5]"><img src="images/millennials/environment/12.jpg" width="120" height="120" alt="" /></a>       
      </div>
    </figure>
    <figure>
      <a href="images/millennials/equality-cover.jpg" rel="prettyPhoto[pp_gal6]" title="Millennial Equality"><img src="images/millennials/equality-cover.jpg" width="120" height="120" alt=""></a>
      <figcaption>Equality</figcaption>
      <div style="display:none;">
        <a href="images/millennials/equality/01.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/01.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/02.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/02.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/03.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/03.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/04.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/04.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/05.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/05.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/06.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/06.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/07.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/07.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/08.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/08.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/09.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/09.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/10.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/10.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/11.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/11.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/12.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/12.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/13.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/13.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/14.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/14.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/15.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/15.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/16.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/16.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/17.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/17.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/18.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/18.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/19.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/19.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/20.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/20.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/21.JPG" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/21.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/22.JPG" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/22.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/equality/23.jpg" rel="prettyPhoto[pp_gal6]"><img src="images/millennials/equality/23.jpg" width="120" height="120" alt="" /></a>
      </div>
    </figure>
    <figure>
      <a href="images/millennials/healthcare-cover.png" rel="prettyPhoto[pp_gal7]" title=""><img src="images/millennials/healthcare-cover.png" width="120" height="120" alt=""></a>
      <figcaption>Health Care</figcaption>
      <div style="display:none;">
        <a href="images/millennials/health/01.jpg" rel="prettyPhoto[pp_gal7]"><img src="images/millennials/health/01.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/health/02.jpg" rel="prettyPhoto[pp_gal7]"><img src="images/millennials/health/02.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/health/03.jpg" rel="prettyPhoto[pp_gal7]"><img src="images/millennials/health/03.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/health/04.jpg" rel="prettyPhoto[pp_gal7]"><img src="images/millennials/health/04.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/health/05.jpg" rel="prettyPhoto[pp_gal7]"><img src="images/millennials/health/05.jpg" width="120" height="120" alt="" /></a>
      </div>
    </figure>
    <figure>
      <a href="images/millennials/military-cover.jpg" rel="prettyPhoto[pp_gal8]" title="Millennials Military"><img src="images/millennials/military-cover.jpg" width="120" height="120" alt=""></a>
      <figcaption>Military</figcaption>
      <div style="display:none;">
        <a href="images/millennials/military/01.jpg" rel="prettyPhoto[pp_gal8]"><img src="images/millennials/military/01.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/military/02.jpg" rel="prettyPhoto[pp_gal8]"><img src="images/millennials/military/02.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/military/03.jpg" rel="prettyPhoto[pp_gal8]"><img src="images/millennials/military/03.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/military/04.jpg" rel="prettyPhoto[pp_gal8]"><img src="images/millennials/military/04.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/military/05.jpg" rel="prettyPhoto[pp_gal8]"><img src="images/millennials/military/05.jpg" width="120" height="120" alt="" /></a>
      </div>
    </figure>
    <figure>
      <a href="images/millennials/accountablity-cover.jpg" rel="prettyPhoto[pp_gal9]" title="Millennial Government Accountability"><img src="images/millennials/accountablity-cover.jpg" width="120" height="120" alt=""></a>
      <figcaption>Government Accountability</figcaption>
      <div style="display:none;">
        <a href="images/millennials/accountability/01.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/01.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/02.JPG" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/02.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/03.JPG" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/03.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/04.JPG" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/04.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/05.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/05.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/06.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/06.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/07.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/07.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/08.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/08.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/09.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/09.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/10.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/10.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/11.JPG" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/11.JPG" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/12.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/12.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/13.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/13.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/14.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/14.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/15.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/15.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/16.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/16.jpg" width="120" height="120" alt="" /></a>
        <a href="images/millennials/accountability/17.jpg" rel="prettyPhoto[pp_gal9]"><img src="images/millennials/accountability/17.jpg" width="120" height="120" alt="" /></a>
      </div>
    </figure>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){

      function setupBox() {
        $("a[rel^='prettyPhoto']").prettyPhoto({
          deeplinking: false,
          autoplay: false,
          allow_expand: false,
          social_tools: false,
          theme:'dark_square',
          counter_separator_label: ' of ',
          changepicturecallback: function() {
            setupSwipe();
          }
        });
      }

      function setupSwipe() {
        $("img").swipeleft(function() { 
          $.prettyPhoto.changePage('next');
        }); 
        $("img").swiperight(function() {
          $.prettyPhoto.changePage('previous');
        });
      }
    setupBox();
    });
  </script>


</div>
<!-- /row -->

{% include storyfooter.html %}
{% include foot.html %}
